.notify-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9998;
}

.ReactModal__Overlay {
  z-index: 9999;
}

* {
  box-sizing: border-box;
}

.notify-item {
  width: 250px;
  margin: 5px 10px;
  color: #FFF;
  border-radius: 5px;
}

.notify-item a {
  color: #FFF;
}

.notify-item:hover {
  opacity: 0.8;
  box-shadow: 0 0 10px 0 rgb(15, 15, 15);
}

.notify-item > p {
  font-family: 'Lora', serif;
  margin: 10px;
  opacity: .8;
}

.notify-title {
  font-weight: 700;
}

.frame {
  display: flex;
  flex-direction: column;

  position: relative;

  box-sizing: border-box;
  width: 470px;
  height: 420px;
  padding: 24px;

  border: 1px solid rgba(182, 182, 183, 0.05);
  border-radius: 4px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);

  background: white;
}

.heading {
  text-align: center;
  margin-bottom: 12px;
  color: rgba(73, 73, 74, 0.90);
}

.heading h1, .heading h2, .heading h3, .heading h4, .heading h5, .heading h6 {
  -webkit-margin-before: 0;
  margin: 0;

  font-family: Montserrat, sans-serif;
  font-weight: 500;

  line-height: 1.25;

  letter-spacing: 1.29px;
}

.heading h1 {
  font-size: 18px;
}

.heading h2 {
  font-size: 16px;
}

.heading h3 {
  font-size: 14px;
}

.heading h4 {
  font-size: 12px;
}

.heading h5 {
  font-size: 10px;
}

.heading h6 {
  font-size: 8px;
}

.label {
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.92px;

  margin-right: 4px;

  color: rgba(73, 73, 74, 0.90);
  opacity: 0.6;
}

.label a {
  color: #448AFF;
  text-decoration: none;
}

.value {
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: rgba(73, 73, 74, 0.90);
  letter-spacing: 1px;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid #F0F0F0;
  border-radius: 4px;

  margin-bottom: 12px;
}

.info-box .icon {
  display: inline-block;
  height: 14px;
  margin-right: 16px;
  vertical-align: middle;
}

.info-box--hidden {
  visibility: hidden;
}

.info-box .info-box-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  border-bottom: 1px solid #F0F0F0;

  width: 100%;

  padding: 7px 16px;
}

.info-box .info-box-row--left {
  justify-content: flex-start;
}

.info-box .info-box-row:last-child {
  border-bottom: none;
}

.info-box--no-borders .info-box-row {
  border: none;
}

.pictogram {
  width: 14px;
  height: 14px;
  margin-right: 14px;
}

.token {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 102px;
  height: 92px;
  margin: 0 auto;
  border: 1px solid #DEE4F4;
  border-radius: 8px;
  cursor: pointer;
}

.ether {
  fill: #4F6CB1;
}

.maker {
  fill: #3AB493;
}

.dai {
  fill: #F7A600;
}

.token-name {
  font-family: 'OpenSans', sans-serif;
  font-size: 13px;
  font-weight: 600;

  letter-spacing: 1.45px;
  color: rgb(76, 76, 76);
}

.token--disabled {
  cursor: auto;
  pointer-events: none;
}

.token--disabled .ether,
.token--disabled .maker,
.token--disabled .dai,
.token--disabled .dai #Rectangle,
.token--disabled .dai #Rectangle-Copy {
  fill: #DEE4F4;
}

.token--disabled .dai #Shape, .token--disabled .dai #Rectangle, .token--disabled .dai #Rectangle-Copy {
  stroke: #DEE4F4 !important;
}

.token--disabled .token-name {
  color: #DEE4F4;
}

.selected-token {
  display: inline-block;
  width: 185px;
}

.selected-token input {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: rgba(73, 73, 74, 0.90);

  letter-spacing: 1px;
  text-align: center;

  width: 100%;
  border-radius: 2px;
  padding: 8px;
  height: 32px;
  border: 1px solid #DEE4F4;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-input-placeholder {
  font-size: 11px;
  text-transform: uppercase;

  color: rgba(73, 73, 74, 0.90);
}

input.has-errors {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-color: #FF928D !important;
}

.separator {
  display: inline-flex;
  justify-content: center;
  box-sizing: content-box;
  position: relative;
  bottom: 77px;
  width: 48px;
  border: 1px solid transparent;
}

.separator img {
  display: flex;
  align-items: center;
  justify-items: center;
}

.trade-errors {
  visibility: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #FF928D;
  border-bottom: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  margin-top: 4px;

  height: 18px;
  padding: 6px 0;

  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 1px;

  color: #F59089;
  background: rgba(248, 147, 140, 0.10);
}

.token-selector {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 100;

  width: 100%;
  height: 100%;
  background: white;
}

button.start {
  margin-top: 0;
}

button.close {
  height: 22px;
  width: 22px;
  border: 1px solid rgba(255, 82, 82, 0.50);
  border-radius: 100%;

  background: transparent;
}

button.close:before, button.close:after {
  position: absolute;
  left: 9px;
  top: 5px;
  content: ' ';
  height: 8px;
  border: 1px solid rgba(255, 82, 82, 0.50);
}

button.close:before {
  transform: rotate(45deg);
}

button.close:after {
  transform: rotate(-45deg);
}

button {
  background-color: #448AFF;
  color: white;
  border: 1px solid #DDE4F6;
  width: 100%;
  height: 38px;
  text-transform: uppercase;
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;

  cursor: pointer;
}

button[disabled] {
  background-color: #ffffff;
  cursor: not-allowed;
  color: #CCD2E0;
}

.token-selector .tokens {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.token-selector .tokens .token {
  flex-direction: column;
  justify-content: space-evenly;
  width: 92px;
  height: 82px;
  margin: 4px;
}

.token-selector button.close {
  position: absolute;
  margin-right: 16px;
  right: 0;
}

.swap-tokens {
  cursor: pointer;
}

.trade {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
}

.trade .info-box {
  justify-content: space-around;
}

.transaction-info-box {
  position: relative;

  display: inline-block;

  width: 100%;
  height: 66px;

  background: #FFFFFF;
  border: 1px solid rgba(230, 230, 230, 0.60);
  border-radius: 4px;
}

.transaction-info-box.success {
  border-color: #66bb6a;
}

.transaction-info-box.half {
  width: 185px;
  height: auto;
  vertical-align: top;
}

.transaction-info-box .operation {
  height: 40px;
  width: 50%;

  display: inline-flex;
  justify-content: flex-start;
  align-items: center;

  border-bottom: 1px solid rgba(230, 230, 230, 0.60);
  border-right: 1px solid rgba(230, 230, 230, 0.60);
}

.transaction-info-box.half .operation {
  width: 100%;
  border-right: none;
}

.operation:last-of-type {
  border-right: none;
}

.transaction-info-box .operation .icon {
  height: 24px;
  width: 24px;
  margin: 0 12px 0 24px;
}

.arrow-separator {
  display: inline-flex;
  justify-content: center;
  width: 50px;
  height: 66px;
  vertical-align: top;
}

.transaction-info-box .status {
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.transaction-info-box .status .spinner {
  margin-right: 24px;
}

.transaction-info-box.half .status .spinner {
  margin-right: 12px;
}

.transaction-info-box .operation .details {
  height: 28px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.transaction-info-box .operation .icon svg {
  height: 24px;
  width: 24px;
}

.transaction-info-box .label {
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.83px;

  color: rgba(73, 73, 74, 0.90);
  opacity: 1;
}

.transaction-info-box .label.info {
  color: rgba(33, 150, 243, 0.9);
}

.transaction-info-box .label.error {
  color: rgba(203, 100, 94, 0.9);
}

.transaction-info-box .value {
  font-family: Montserrat, sans-serif;
  font-size: 8px;
  font-weight: 500;

  letter-spacing: 0.67px;
  color: #9C9C9D;
}

.transaction-info-box .status .label {
  font-size: 8px;
}

.transaction-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.transaction-info-box  > a {
  width: 100%;
  text-decoration: none;
}

.done-placeholder {
  position: absolute;

  visibility: hidden;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  top: -10px;
  right: -10px;

  width: 20px;
  height: 20px;

  background: white;
}

.done {

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 14px;
  height: 14px;
  border: 1px solid transparent;
  border-radius: 50%;
  background: #66bb6a;
}

.show {
  visibility: visible;
}

.success {
  color: rgba(81, 163, 81, 0.9);
}

.error {
  color: rgba(203, 100, 94, 0.9);
}

.info {
  color: rgba(33, 150, 243, 0.9);
}

a.no-pointer {
  cursor: default;
}

.terms-and-conditions {
  height: 48px;
  margin-bottom: 0px;
}

.info-box.terms-and-conditions {
  flex-direction: row;
  justify-content: space-evenly;
}

.info-box.terms-and-conditions:hover {
  cursor: pointer;
}

.terms-and-conditions .label {
  letter-spacing: 0;
  width: 330px;
  color: rgba(73, 73, 74, 0.90);
  opacity: 1;
}

.terms-and-conditions.accepted .checkbox {
  background: #448AFF;
  border-color: #448AFF;
}

.checkbox {
  height: 14px;
  width: 14px;
  border: 1px solid #DEE4F4;
  border-radius: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.holder {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.congratulations {
  padding: 8px 0;
}

.congratulations .label , .congratulations .value {
  display: inline-block;
}
.congratulations .heading {
  opacity: 0.9;
  font-size: 14px;
  color: #5B5B5C;
  letter-spacing: 1.02px;
  margin: 0;
}

