.hard-wallet .content {
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.hard-wallet .progress {
  display: flex;
  align-items: center;
  justify-items: center;

  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.hard-wallet .progress .status {
  display: flex;
  align-items: center;
  justify-items: center;

  height: 34px;
  width: 176px;

  border: 1px solid #F0F0F0;
  border-radius: 4px;

  padding: 8px 16px;
}

.hard-wallet .progress .label {
  width: 100%;
  margin-left: 0;

  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 14px;

  text-align: center;

  color: #777778;
  letter-spacing: 0.88px;
}

.hard-wallet .guidelines {
  margin-top: 24px;

  max-width: 380px;
  width: 100%;

  border: 1px solid #F0F0F0;
  border-radius: 4px;
}

.hard-wallet .guidelines .list .list-item {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  justify-content: initial;
  border: 0;
  padding: 18px 22px;
}

.hard-wallet .guidelines .bullet-number {
  display: inline-block;
  margin: 0 12px;
  font-weight: 600;
  font-size: 14px;
  color: #969697;
  letter-spacing: 1.17px;
  text-align: center;
}

.hard-wallet .guidelines .text {
  max-width: 270px;
  font-size: 12px;
  color: #969697;
  letter-spacing: 1px;
  text-align: left;
}

.hard-wallet button.close {
  position: absolute;
  top: 18px;
  right: 24px;
}
