@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Open+Sans:400,600,700");

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  background: #3F51B5;
}

header {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;

  height: 144px;
  width: 100%;;

  padding: 48px 152px;
  box-sizing: border-box;
}

footer {
  flex-grow: 1;

  height: 216px;
  width: 100%;
}

@media all and (max-width: 1400px) {
  footer {
    height: auto;
    max-height: 104px;
  }
}

.Logo {
  cursor: pointer;
}

.Content {
  display: flex;
  justify-content: space-between;

  padding: 48px 152px;

  background: rgba(255, 255, 255, 0.05);
}

.Content h1, .Content h2 {
  margin: 0;
}

.Content h1 {
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  letter-spacing: 0.64px;

  color: #FFFFFF;
}

.Content h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.44px;

  color: rgba(255, 255, 255, 0.70);
  line-height: 60px;
}

.Dropdown {
  box-sizing: border-box;

  position: relative;

  width: 192px;
  height: 38px;

  border: 2px solid white;
  border-radius: 8px;

  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;

  color: white;

  background: transparent;
  cursor: pointer;
  z-index: 1;
}

.DropdownToggle {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.DropdownSelected {
  display: inline-block;

  max-width: 144px;

  overflow: hidden;
  text-overflow: ellipsis;
}

.DropdownArrow {
  width: 15px;

  color: white;

  font-size: 20px;

  cursor: pointer;
  pointer-events: inherit;
}

.DropdownList {
  display: none;

  width: 100%;
}

.DropdownList--visible {
  display: block;

  position: absolute;
  top: 62px;
  right: 0;

  width: 640px;

  border: 1px solid #D9DCF0;
  border-radius: 8px;
  margin: 0;
  background: white;
}

.DropdownListWrapper {
  overflow: hidden;

  border-radius: 8px;
}

.DropdownList ul {
  padding: 0;
  margin: 0;

  background: white;

  max-height: 192px;
  overflow-y: auto;
  overflow-x: hidden;
  list-style-type: none
}

.DropdownList ul li {
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid #D9DCF0;

  height: 38px;

  padding: 16px;

  color: #3F51B5;
}

.DropdownList ul li:last-child {
  border: 0;
}

.DropdownList--visible:before {
  content: '';

  display: block;

  position: absolute;

  width: 0;
  height: 0;

  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid white;
  right: 12px;

  top: -8px;
}

.DropdownList ul::-webkit-scrollbar {
  width: 8px;
}

.DropdownList ul::-webkit-scrollbar-track {
  background-color: #FAFAFA;
  padding: 20px;
}

.DropdownList ul::-webkit-scrollbar-thumb {
  background-color: #EEEEEE;
  border-radius: 8px;
}

.DropdownList ul li:hover {
  background: rgba(63, 81, 181, 0.05);;
  transition: .3s all linear;
}
