html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  background: #3F51B5;
}

header {
  box-sizing: border-box;

  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding-top: 50px;
  padding-bottom: 50px;
}

.Logo {
  cursor: pointer;
}

.Logo.Logo--no-margin {
  margin: 0;
}

.Logo a {
  display: flex;
  align-items: center;
}

.Container {
  width: 100%;
  max-width: 1168px;

  margin: auto;

  padding-right: 32px;
  padding-left: 32px;
}

.Content {
  background-color: #324090;;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

main.Container {
  display: flex;
  justify-content: space-between;

  padding-top: 70px;
  padding-bottom: 70px;
}

footer.Container {
  display: flex;
  justify-content: space-between;

  padding: 34px 64px;
}

.Content .MainHeading {
  max-width: 424px;
}

.Content h1, .Content h2 {
  margin: 0;
}

.Content h1 {
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  letter-spacing: 0.64px;

  color: #FFFFFF;
}

.Content h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.44px;

  color: rgba(255, 255, 255, 0.70);
  line-height: 60px;
}

.Dropdown {
  box-sizing: border-box;

  position: relative;

  width: 192px;
  height: 38px;

  border: 2px solid white;
  border-radius: 8px;

  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;

  color: white;

  background: transparent;
  cursor: pointer;
  z-index: 1;
}

.DropdownToggle {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.DropdownSelected {
  display: inline-block;

  max-width: 144px;

  overflow: hidden;
  text-overflow: ellipsis;
}

.DropdownArrow {
  width: 15px;

  color: white;

  font-size: 20px;

  cursor: pointer;
  pointer-events: inherit;
}

.DropdownList {
  display: none;

  width: 100%;
}

.DropdownList--visible {
  display: block;

  position: absolute;
  top: 62px;
  right: 0;

  width: 640px;

  border: 1px solid #D9DCF0;
  border-radius: 8px;
  margin: 0;
  background: white;
}

.DropdownListWrapper {
  overflow: hidden;

  border-radius: 8px;
}

.DropdownList ul {
  padding: 0;
  margin: 0;

  background: white;

  max-height: 192px;
  overflow-y: auto;
  overflow-x: hidden;
  list-style-type: none
}

.DropdownList ul li {
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid #D9DCF0;

  height: 38px;

  padding: 16px;

  color: #3F51B5;
}

.DropdownList ul li:last-child {
  border: 0;
}

.DropdownList--visible:before {
  content: '';

  display: block;

  position: absolute;

  width: 0;
  height: 0;

  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid white;
  right: 12px;

  top: -8px;
}

.DropdownList ul::-webkit-scrollbar {
  width: 8px;
}

.DropdownList ul::-webkit-scrollbar-track {
  background-color: #FAFAFA;
  padding: 20px;
}

.DropdownList ul::-webkit-scrollbar-thumb {
  background-color: #EEEEEE;
  border-radius: 8px;
}

.DropdownList ul li:hover {
  background: rgba(63, 81, 181, 0.05);;
  transition: .3s all linear;
}

.LinksWrapper {
  width: 200px;
  height: 212px;

  padding: 20px 23px;

  font-family:'Raleway', sans-serif;
  font-weight: 600;

  color: white
}

.LinksWrapper h1 {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 22px;

  letter-spacing: 0.69px;
}

.LinksWrapper .Links {
  margin: 0;
  padding: 0;

  font-size: 14px;
  letter-spacing: 0.44px;
  list-style-type: none;

  opacity: 0.8;
}

.LinksWrapper .Link {
  margin-bottom: 16px;
}

.LinksWrapper .Link a {
  text-decoration: none;
  color: white;

}