button.create {
  border: 1px solid #DEE4F4;
  opacity: 0.9;
  font-weight: 600;
  font-size: 12px;
  color: #5B5B5C;
  background-color: white;
  width: inherit;
  height: inherit;
  padding: 6px 14px;
  letter-spacing: 0.3px;
}

.attention-path {
  fill: rgba(156, 156, 157, 0.8);
}

.active #Account {
  fill: #66BB6A;
}

/*TODO: check on those wallet-settings .proxy-details. The styles shouldnt be there which such specific selector as well */
.wallet-settings .proxy-details .active .label {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #969697;
  letter-spacing: 0.4px;
}

