@media all and (max-width: 1249px) {
  main {
    height: auto;
  }
}

@media all and (max-width: 1023px) {
  main.Container {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding-top: 50px;
    padding-bottom: 50px;
  }

  footer.Container {
    padding: 16px 64px;
  }

  footer.Container .LinksWrapper {
    width: auto;
  }
}

@media all and (min-width: 768px) and (max-width: 960px) {
  header {
    padding: 48px;
  }
}

@media all and (max-width: 767px) {
  .Widget {
    margin-top: 24px;
  }

  .Widget.trade-widget {
    margin-top: 0px;
  }

  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;

    padding: 24px 8px;
  }

  .Logo {
    margin-bottom: 16px;
  }

  .NavigationLinks {
    margin-top: 16px;
  }

  .NavigationLinks a:last-child {
    margin-right: 0;
  }

  main.Container {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .Content .MainHeading {
    max-width: 288px;
  }

  .Content h1 {
    font-size: 18px;
  }

  .Content h2 {
    font-size: 20px;
    line-height: 40px;
  }

  footer.Container {
    flex-wrap: wrap;
    padding: 0 64px;
    text-align: center;
  }

  footer.Container .LinksWrapper {
    padding: 0 16px;
    width: 50%;
    max-height: 140px;
  }
}

@media all and (max-width: 469px) {
  .identicon-placeholder, .frame button.back {
    top:7px;
    left: 12px;
  }

  .network-indicator-placeholder {
    top: 7px;
    right: 12px;
  }

  .advanced-settings-placeholder {
    top: 7px;
    left: 46px;
  }

  .connectionless .content .heading img {
    width: 64px;
    height: 64px;
    margin: 16px 0;
  }

  .connectionless .content .heading h3 {
    font-size: 10px;
  }

  ::-webkit-input-placeholder {
    font-size: 9px;
  }

  .Container {
    padding-right: 16px;
    padding-left: 16px;
  }

  .NavigationLinks a {
     margin-right: 20px;
  }

  main.Container {
    padding-right: 8px;
    padding-left: 8px;
  }

  .Widget {
    width: 100%;
  }

  .frame {
    max-width: 420px;
    width: 100%;
    max-height: 370px;
    padding: 12px;
    margin: auto;
  }

  .frame .content .selected-token .token {
    padding: 8px;
  }

  .frame > .info-box {
    border-radius: 2px;
  }

  .frame > .info-box .info-box-row,
  .frame.trade-settings .info-box .info-box-row {
    height: auto;
    line-height: normal;
    padding: 7px;
  }

  .info-box .info-box-row .holder:nth-child(even) {
    padding-left: 6px;
  }

  .info-box .info-box-row .holder:nth-child(odd) {
    padding-right: 6px;
  }

  .frame.hard-wallet .guidelines .list .list-item{
    padding: 10px;
  }

  .frame > .info-box .info-box-row .icon {
    margin-right: 16px;
  }

  .frame .heading h2 {
    font-size: 12px;
    letter-spacing: 1px;
  }

  .info-box .info-box-row.desktop {
    display: none;
  }

  .desktop {
    display: none;
  }

  .token {
    width: 92px;
    height: 82px;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .token-icon {
    width: 25px;
    height: 25px;
  }

  .selected-token input {
    font-size: 9px;
  }

  .separator {
    width: auto;
  }

  .separator svg {
    bottom: 23px;
  }

  .ether, .maker, .dai {
    height: 25px;
  }

  .trade-errors {
    font-size: 8px;
  }

  .selector .tokens {
    justify-content: center;
    max-height: 248px;
  }

  .selector .tokens .token-list {
    width: 220px;
  }

  .selector .tokens .token {
    justify-content: space-evenly;
    align-items: center;
    width: 102px;
    height: 92px;
  }

  .terms-and-conditions {
    padding: 8px 12px;
  }

  .terms-and-conditions .label {
    width: 100%;
    font-size: 10px;
    text-align: left;
  }

  .transaction-result .label,
  .transaction-result .value {
    font-size: 10px;
  }

  .transaction-info-box.half .operation {
    height: 50px;
  }

  .checkbox {
    margin-right: 16px;
  }

  .checkbox img {
    width: 10px;
    height: 10px;
  }

  .frame.finalize .info-box {
    margin-top: 0;
  }

  .frame.finalize .more-info, .frame.finalize .transaction-result {
    padding: 8px 8px;
  }

  .info-box.disclaimer {
    margin-top: 6px;
  }

  .info-box.disclaimer .info-box-row {
    padding: 0;
  }

  .info-box.disclaimer .info-box-row .label {
    font-size: 9px;
  }

  .info-box.disclaimer .info-box-row .icon {
    margin-right: 12px;
  }

  footer.Container {
    padding: 0 8px;
    width: 100%;
    max-height: 140px;
  }

  .info-box .info-box-row .holder .label, .info-box .info-box-row .holder .value {
    font-size: 10px;
  }

  .token-name {
    font-size: 8px;
  }

  .frame button.close {
    top: 7px;
    right: 11px;
  }

  .hard-wallet-addresses .content {
    margin-top: 12px;
  }

  .hard-wallet-addresses  .list-item .address {
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .wallet-settings section {
    padding: 12px;
  }

  .proxy-details .proxy-status {
    padding-bottom: 8px;
  }

  .proxy-details .allowances-status {
    padding-top: 8px;
  }

  .proxy-details .allowances-status .warning-text,
  .proxy-details .allowances-status .label {
    font-size: 10px;
  }

  .proxy-details button.gray {
    font-size: 10px;
    height: auto;
    padding: 7px;
  }

  .price-impact-warning .container {
    padding: 18px;
  }

  .trade-settings .settings-panel {
    padding: 7px;
  }

  .trade-settings .parameter-name {
    font-size: 10px;
  }

  .trade-settings .attention.info-box {
    font-size: 10px;
    padding: 7px;
  }

  .trade-settings .settings-panel .row .parameter {
    margin: 0 12px;
  }

  .trade-settings .settings-panel .row .parameter:first-child:last-child {
    margin-right: 12px;
  }

  .trade-settings .Option,
  .trade-settings .Option .Details {
    font-size: 8px;
  }
}

@media all and (max-width: 399px) {
  .label,
  .value,
  .transaction-info-box .status .label,
  .transaction-info-box .label,
  .transaction-info-box .value,
  .transaction-result .label,
  .transaction-result .value {
    font-size: 8px;
  }

  .transaction-info-box .operation .icon {
    margin: 0 16px;
  }

  .transaction-info-box .status {
    padding: 8px;
  }

  .frame > .info-box.more-info .label {
    font-size: 9px;
    line-height: normal;
  }

  .transaction-result .heading {
    font-size: 10px;
  }

  .selected-token {
    width: 150px;
  }

  .transaction-info-box.half {
    max-width: 150px;
  }

  .transaction-info-box .operation .icon {
    margin: 0 8px;
  }

  .transaction-info-box .operation .icon, .transaction-info-box .operation .icon svg {
    height: 24px;
    width: 24px;
  }

  .wallet-settings .wallet-details .label, .wallet-settings .wallet-details .value, .wallet-settings .wallet-details a {
    font-size: 10px;
  }
}

@media all and (max-width: 424px) {
  .wallets .clients .row-flex {
    flex-direction: column;
  }

  .wallets .clients .heading {
    margin-bottom: 8px;
  }


  .wallets .list .list-item.clients .row-flex > * {
    margin-left:0;
    margin-top: 12px;
  }

  .wallets .list .list-item.clients .row-flex > * .product-cover {
    height: 46px;
  }
}

@media all and (min-width: 375px) and (max-width: 424px) {
  .selected-token {
    width: 150px;
  }
}

@media all and (max-width: 374px) {

  .NavigationLinks {
    font-size: 16px;
  }

  .Content h1 {
    font-size: 16px;
  }

  .Content h2 {
    font-size: 18px;
  }

  .network-indicator {
    width: 48px;
    font-size: 8px;
  }

  .transaction-result {
    height: auto;
  }

  .selector .tokens .token-list {
    width: 220px;
  }

  .selected-token {
    width: 120px;
  }

  .transaction-info-box.half {
    max-width: 120px;
  }

  .transaction-info-box.half .status .spinner {
    margin-right: 10px;
  }

  .info-box.disclaimer .info-box-row .label {
    font-size: 8px;
  }

  .exporter .content input {
    max-width: 196px;
  }

  .exporter .content .exchanges .list-item {
    max-width: 88px;
    padding: 5px 8px;
  }

  .exporter .panel .list .list-item .address--with-tail {
    width: 61%;
  }

  .wallets .browser-wallet {
    padding: 10px 8px;
  }

  .wallets .hw-wallet .label {
    font-size: 10px;
  }

  .info-box .info-box-row .holder .label, .info-box .info-box-row .holder .value {
    font-size: 8px;
  }

  .proxy-details .proxy-status.activated{
    justify-content: center;
  }
}
