@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Open+Sans:400,600,700|Roboto:500|Raleway:400,500,600  ');
@import "styles/Common.css";
@import "styles/Accordion.css";
@import "styles/Dropdown.css";
@import 'styles/App.css';
@import 'styles/LandingPage.css';
@import 'styles/NoAccount.css';
@import 'styles/NetworkIndicator.css';
@import 'styles/ProxyDetails.css';
@import 'styles/Allowances.css';
@import "styles/PriceImpactWarning.css";
@import "styles/TradeSettings.css";
@import 'styles/Responsive.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

pre {
  white-space: pre-line;
  font-family: inherit;
  margin: 0;
}
